{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}
<div class="page">
    <div class="page-content container-fluid">
        <div class="bg-white mx-auto">
            <h1 class="text-center">Liste des boutiques</h1>
    
      <div class="text-center mr-2 mb-2">
        <a href="{{ path('boutique_new') }}" class="btn btn-success"><i class="icon md-plus"></i> Ajout Boutique</a>
      </div>
 
<table class="table table-striped">
    <thead>
        <tr class="text-center">
            <th>Logo</th>
            <th>Nom</th>
            <th>Raisonsociale</th>
            <th>Nomdomaine</th>
            <th>Email</th>
            <th>Description</th>
            <th>Tel</th>
        


          
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
  
    {% for boutique in boutiques %}
        <tr>
            <td><img src="{{ boutique.logo }}" alt="" class="rounded"></td>
            <td>{{ boutique.nom }}</td>
            <td>{{ boutique.raisonsociale }}</td>
            <td>{{ boutique.nomdomaine }}</td>
            <td>{{ boutique.email }}</td>
            <td>{{ boutique.description }}</td>
            <td>{{ boutique.tel }}</td>
           
          {#   <td><span class="rounded px-25 text-white" style="color:white; background-color: {{ boutique.couleur }};"></span></td>
 #}
            
            <td>
                <dl>
                    <dt>
                        <a href="{{ path('boutique_show', { 'id': boutique.id }) }}" class="btn btn-link border"><i class="icon md-eye"></i></a>
                    </dt>
                    <dt>
                        <a href="{{ path('boutique_edit', { 'id': boutique.id }) }}" class="btn btn-link border"><i class="icon md-edit"></i></a>
                    </dt>
                </dl>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


        </div>
    </div>
</div>

{% endblock %}


