{% extends 'BoutiqueBundle:Default:index.html.twig' %}

{% block page %}
<!-- Page -->
<div class="page">
    <div class="page-content container-fluid">
        <div class="row" data-plugin="matchHeight" data-by-row="true">
            <div class="col-xl-3 col-md-6">
                <!-- Widget Linearea One-->
                <div class="card card-shadow" id="widgetLineareaOne">
                    <div class="card-block p-20 pt-10">
                        <div class="clearfix">
                            <div class="grey-800 float-left py-10">
                                <i class="icon md-account grey-600 font-size-24 vertical-align-bottom mr-5"></i>                    Commandes
                            </div>
                            <span class="float-right grey-700 font-size-30">1,253</span>
                        </div>
                        <div class="mb-20 grey-500">
                            <i class="icon md-long-arrow-up green-500 font-size-16"></i>                  15% From this yesterday
                        </div>
                        <div class="ct-chart h-50"></div>
                    </div>
                </div>
                <!-- End Widget Linearea One -->
            </div>
            <div class="col-xl-3 col-md-6">
                <!-- Widget Linearea Two -->
                <div class="card card-shadow" id="widgetLineareaTwo">
                    <div class="card-block p-20 pt-10">
                        <div class="clearfix">
                            <div class="grey-800 float-left py-10">
                                <i class="icon md-flash grey-600 font-size-24 vertical-align-bottom mr-5"></i>                    VISITS
                            </div>
                            <span class="float-right grey-700 font-size-30">2,425</span>
                        </div>
                        <div class="mb-20 grey-500">
                            <i class="icon md-long-arrow-up green-500 font-size-16"></i>                  34.2% From this week
                        </div>
                        <div class="ct-chart h-50"></div>
                    </div>
                </div>
                <!-- End Widget Linearea Two -->
            </div>
            <div class="col-xl-3 col-md-6">
                <!-- Widget Linearea Three -->
                <div class="card card-shadow" id="widgetLineareaThree">
                    <div class="card-block p-20 pt-10">
                        <div class="clearfix">
                            <div class="grey-800 float-left py-10">
                                <i class="icon md-chart grey-600 font-size-24 vertical-align-bottom mr-5"></i>                    Total Clicks
                            </div>
                            <span class="float-right grey-700 font-size-30">1,864</span>
                        </div>
                        <div class="mb-20 grey-500">
                            <i class="icon md-long-arrow-down red-500 font-size-16"></i>                  15% From this yesterday
                        </div>
                        <div class="ct-chart h-50"></div>
                    </div>
                </div>
                <!-- End Widget Linearea Three -->
            </div>
            <div class="col-xl-3 col-md-6">
                <!-- Widget Linearea Four -->
                <div class="card card-shadow" id="widgetLineareaFour">
                    <div class="card-block p-20 pt-10">
                        <div class="clearfix">
                            <div class="grey-800 float-left py-10">
                                <i class="icon md-view-list grey-600 font-size-24 vertical-align-bottom mr-5"></i>                    Items
                            </div>
                            <span class="float-right grey-700 font-size-30">845</span>
                        </div>
                        <div class="mb-20 grey-500">
                            <i class="icon md-long-arrow-up green-500 font-size-16"></i>                  18.4% From this yesterday
                        </div>
                        <div class="ct-chart h-50"></div>
                    </div>
                </div>
                <!-- End Widget Linearea Four -->
            </div>

            <!-- End Widget Info -->
        </div>

























    </div>
</div>
</div>
<!-- End Page -->
{% endblock page %}