{% extends 'BoutiqueBundle:Default:index.html.twig' %}

{% block page %}
    <div class="page">
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-xxl-6">
                    <!-- Panel Basic -->
                    <div class="panel">
                        <header class="panel-heading">
                            <h3 class="panel-title">Commandes</h3>
                        </header>
                        <div class="panel-body">
                            <div id="exampleBasic" class="jsgrid" style="position: relative; height: 500px; width: 100%;">
                                <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                                    <table class="jsgrid-table table table-striped table-hover">
                                        <tr class="jsgrid-header-row">
                                            <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Reference</th>
                                            <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 100px;">Nombre Produits</th>
                                            <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 100px;">Statut</th>
                                            <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 100px;">Date Commande</th>
                                            <th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center" style="width: 100px;">Action</th></tr>
                                        {% for c in commandes %}
                                            <tr  class="jsgrid-row">
                                            <td class="jsgrid-cell" style="width: 100px;">{{ c.commande.reference }} </td>
                                            <td class="jsgrid-cell jsgrid-align-right" style="width: 100px;">{{ c.nbproduit }} </td>
                                            <td class="jsgrid-cell jsgrid-align-right" style="width: 100px;">
                                                {% if  c.commande.statusgest == 0 %}
                                                <span class="badge badge-warning">En Cours de traitement</span>
                                                {% endif %}
                                                {% if  c.commande.statusgest == 1 %}
                                                    <span class="badge badge-info">En Cours de livraison</span>
                                                {% endif %}
                                                {% if  c.commande.statusgest == 2 %}
                                                    <span class="badge badge-success">livrée</span>
                                                {% endif %}
                                                {% if  c.commande.statusgest == 3 %}
                                                    <span class="badge badge-danger">Annulée</span>
                                                {% endif %}

                                                 </td>
                                            <td class="jsgrid-cell" style="width: 100px;">
                                                {{ c.commande.DateValidClient|date("m/d/Y") }}
                                            </td>
                                            <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 100px;">

                                                <a class="btn btn-icon btn-xs social-facebook waves-effect waves-classic" href="{{ path('commande_show', { 'id': c.commande.id }) }}">
                                                    <i   class="icon md-plus" aria-hidden="true" >
                                                    </i>
                                                </a>

                                                <div class="btn-group">
                                                    <a  href="" class="btn btn-icon btn-xs social-facebook waves-effect waves-classic" id="exampleHoverDropdown1" data-hover="dropdown" data-delay="1000" data-toggle="dropdown" aria-expanded="false">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">
                                                                <i class="icon md-edit  " aria-hidden="true" ></i>
                                                            </font>
                                                        </font>
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="exampleHoverDropdown1" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                        <a href="{{ path('commnde_edit', { 'id': c.commande.id,'statut' :0 }) }}"class="dropdown-item" href="javascript:void(0)" role="menuitem"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">En Cours de traitement </font></font></a>
                                                        <a href="{{ path('commnde_edit', { 'id': c.commande.id,'statut' :1 }) }}" class="dropdown-item" href="javascript:void(0)" role="menuitem"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">En Cours de livraison   </font></font></a>
                                                        <a href="{{ path('commnde_edit', { 'id': c.commande.id,'statut' :2 }) }}" class="dropdown-item" href="javascript:void(0)" role="menuitem"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Livrée</font></font></a>
                                                        <a href="{{ path('commnde_edit', { 'id': c.commande.id,'statut' :3 }) }}" class="dropdown-item" href="javascript:void(0)" role="menuitem"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Annulée</font></font></a>
                                                </div>
                                                </div>
                                                <a class="btn btn-icon btn-xs social-facebook waves-effect waves-classic" href="{{ path('commande_delete', { 'id': c.commande.id }) }}">
                                                    <i class="icon md-delete  " aria-hidden="true" ></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                     </table>
                                    <div class="navigation">
                                        {{ knp_pagination_render(commandes) }}
                                    </div>

                                </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
