{% extends 'base.html.twig' %}

{% block body %}
    <h1>Utilisateurs</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ utilisateur.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ utilisateur.lastName }}</td>
            </tr>
            <tr>
                <th>Matriculefiscale</th>
                <td>{{ utilisateur.matriculeFiscale }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('utilisateurs_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('utilisateurs_edit', { 'id': utilisateur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
