<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144"
              href="{{ asset('assets/ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114"
              href="{{ asset('assets/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72"
              href="{{ asset('assets/ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('assets/ico/apple-touch-icon-57-precomposed.png') }}">
        <link rel="shortcut icon" href="{{ asset('assets/ico/favicon.png') }}">
        <title>{% block title %}Total{% endblock %}</title>

        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            
            <link href="{{ asset('assets/plugins/swiper-master/css/swiper.min.css') }}" rel="stylesheet">

            <!-- Custom styles for this template -->
            <link href="{{ asset('assets/css/totaltheme.css') }}" rel="stylesheet">
            <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        {% endblock stylesheets %}
        <!-- Just for debugging purposes. -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <!-- include pace script for automatic web page progress bar  -->


        <script>
            paceOptions = {
                elements: true
            };
        </script>

        <script src="{{ asset('assets/js/pace.min.js') }}"></script>
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ asset('assets/js/jquery/jquery-1.10.1.min.js') }}"></script>
    </head>

    <body style="font-family: Arial;">

        <!-- Modal Login start -->
        {% include 'FrontendBundle:Modals:loginModal.html.twig' %}

        <!-- Modal Signup start -->
        {% include 'FrontendBundle:Modals:registerModal.html.twig' %}


        <!-- Fixed navbar start -->
        {% render(controller('FrontendBundle:Panier:menu')) %}

    {% block body %}{% endblock %}


    

    {% include 'FrontendBundle:Blocks:footer.html.twig' %}

    {% block javascripts %}
        <!-- Le javascript
        ================================================== -->

        {#        <script src="{{ asset('assets/js/jquery-ui.js') }}"></script>#}
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>    <!-- include  parallax plugin -->
        <script src="{{ asset('assets/plugins/swiper-master/js/swiper.jquery.min.js') }}"></script>
        <script>


            var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                nextButton: '.nextControl',
                prevButton: '.prevControl',
                keyboardControl: true,
                paginationClickable: true,
                slidesPerView: 'auto',
                autoResize: true,
                resizeReInit: true,
                spaceBetween: 0,
                freeMode: true
            });


        </script>

        <!-- include jqueryCycle plugin -->
        <script src="{{ asset('assets/js/jquery.cycle2.min.js') }}"></script>

        <!-- include easing plugin -->
        <script src="{{ asset('assets/js/jquery.easing.1.3.js') }}"></script>

        <!-- include  parallax plugin -->
        <script type="text/javascript" src="{{ asset('assets/js/jquery.parallax-1.1.js') }}"></script>

        <!-- optionally include helper plugins -->
        <script type="text/javascript" src="{{ asset('assets/js/helper-plugins/jquery.mousewheel.min.js') }}"></script>

        <!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

        <script type="text/javascript" src="{{ asset('assets/js/jquery.mCustomScrollbar.js') }}"></script>

        <!-- include icheck plugin // customized checkboxes and radio buttons   -->
        <script type="text/javascript" src="{{ asset('assets/plugins/icheck-1.x/icheck.min.js') }}"></script>

        <!-- include grid.js // for equal Div height  -->
        <script src="{{ asset('assets/js/grids.js') }}"></script>

        <!-- include carousel slider plugin  -->
        <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>

        <!-- jQuery select2 // custom select   -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

        <!-- include touchspin.js // touch friendly input spinner component   -->
        <script src="{{ asset('assets/js/bootstrap.touchspin.js') }}"></script>

        <!-- include custom script for only homepage  -->
        <script src="{{ asset('assets/js/home.js') }}"></script>

        <!-- include custom script for site  -->
        <script src="{{ asset('assets/js/script.js') }}"></script>


        <script src="{{ asset('assets/js/jquery.lazyload.js') }}"></script>
        <script src="{{ asset('assets/js/panier/panier.js') }}"></script>

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% endblock javascripts %}

</body>
</html>