{% extends 'FrontendBundle:Layouts:layoutBreadcrumps.html.twig' %}


    {% block breadcrump %}
        <div class="row">
            <div class="breadcrumbDiv col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="/">Aceuil</a></li>
                    <li><a href="{{ path("panier") }}">Panier</a></li>
                    <li><a href="{{ path("livraison") }}">Adresse</a></li>
                    <li class="active"> Confirmer</li>
                </ul>
            </div>
        </div>
    {% endblock breadcrump %}
    {% block content %}
        <div class="row">
            <div class="col-lg-12 ">
                <div class="row userInfo">

                    <div class="thanxContent text-center">

                        <h1> Merci d'avoir passé commande chez nous , <a href="#">#{{ reference }}</a></h1>
                        <h4>Nous vous ferons savoir quand vos articles sont sur leur chemin</h4>

                    </div>

                    <div class="col-lg-7 col-center">
                        <h4></h4>

                        <div class="cartContent table-responsive  w100">
                            <table style="width:100%" class="cartTable cartTableBorder">
                                <tbody>

                                <tr class="CartProduct  cartTableHeader">
                                    <td colspan="2"> Articles à expédier</td>


                                    <td style="width:15%"></td>
                                </tr>

                                {% for produit in produits %}
                                    <tr class="CartProduct">
                                        <td class="CartProductThumb">
                                            <div><a href=""><img class="lazy"
                                                                                     alt="{{ produit.nom }}"
                                                                                     src="/assets/img/default.jpeg"
                                                                                     data-original="/uploads/produits/{{ produit.image }}"></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="CartDescription">
                                                <h4><a href="">{{ produit.nom }} </a></h4>
                                                <span class="size">{{ produit.unite }}</span>

                                                <div class="price"><span>{{ produit.prix|number_format(3, '.', ',') }} DT</span></div>
                                            </div>
                                        </td>


                                        <td class="price">{{ (panier[produit.id] * produit.prix)|number_format(3, '.', ',') }} DT</td>
                                    </tr>
                                {% endfor %}
                                <td style="text-align: center;"> <h4 style="margin-top: 13px;"><b>Total commande</b></h4></td><td></td><td style="text-align: center;"><h5 style="margin-top: 13px;"><b>{{ totale|number_format(3, '.', ',') }} DT TTC</b></h5></td>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <!--/row end-->

            </div>

            <!--/rightSidebar-->

        </div>
    {% endblock %}