{% extends 'base.html.twig' %}

{% block body %}
    <!-- Modal -->
    <div class="modal fade" id="examplePositionSidebar" aria-hidden="true" aria-labelledby="examplePositionSidebar"
         role="dialog" tabindex="-1">
        <div class="modal-dialog modal-simple modal-sidebar modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Details Produit :{{ produit.id }}</h4>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <h5 class="mt-0 mb-5">Nom: {{ produit.nom }}</h5>
                    </div>
                    <div class="col-lg-12">
                        <h4 class="example-title">Description</h4>
                        <div class="profile-brief">
                            {{ produit.description }}
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h5 class="mt-0 mb-5">Prix: {{ produit.prix }} dt</h5>
                    </div>
                    <div class="col-lg-12">
                        <h5 class="mt-0 mb-5">Quantité: {{ produit.quantite }} </h5>
                    </div>
                    <div class="col-lg-12">
                        <h5 class="mt-0 mb-5">Nombre D'Achat: {{ produit.nbAchat }} </h5>
                    </div>
                    <div class="col-lg-12">
                        <h5 class="mt-0 mb-5">Is Active:
                            {% if produit.isActive %}
                                <input type="checkbox" disabled="" checked>
                            {% else %}
                                <input type="checkbox" disabled="" >
                            {% endif %}
                        </h5>
                    </div>

                    <div class="col-lg-12">
                        <h5 class="mt-0 mb-5">Images{{ produit.image2 }}</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="example">
                                    <img class="img-rounded img-bordered img-bordered-primary" width="50" height="70" src="{{ asset('uploads/produits/') }}{{ produit.image }}" alt="...">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="example">
                                    <img class="img-rounded img-bordered img-bordered-primary"width="50" height="40" src="{{ asset('uploads/produits/') }}{{ produit.image1 }}" alt="...">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="example">
                                    <img class="img-rounded img-bordered img-bordered-primary" width="50" height="40" src="{{ asset('uploads/produits/') }}{{ produit.image2 }}" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h5 class="mt-0 mb-5">Fiche Technique: {{ produit.fichtech }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
{% endblock %}