{% extends 'FrontendBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('assets/css/category-2.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/jquery-ui.css') }}" rel="stylesheet">

{% endblock stylesheets %}

{% block body %}
    <section class="category-wrapper">
        {% include '@Frontend/Blocks/parallaxintro.html.twig' %}
        <input type="text" value="{{ cp }}" id="cp" style="display: none;">
        <section class="main-container-wrapper clearfix" id="main-container-wrapper">
            <div class="container main-container">

                <!-- Main component call to action -->

                <div class="row">

                    {% include '@Frontend/Blocks/filterbar.html.twig' %}

                    <div class="catColumnWrapper">
                        {# left column #}
                        <div class="col-lg-3 col-md-3 col-sm-12 filterColumn">
                            <div class="panel-group" id="accordion">
                                <!--Category-->
                                <div class="panel panel-flat">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" href="#collapseKeyWord" class="">
                                                <span class="pull-right hasMinus"> <i class="i-minus"></i></span> Mot Clé </a>
                                        </h4>
                                    </div>
                                    <div id="collapseKeyWord" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <ul class="nav nav-list">
                                                <form class="form-inline " role="form" method="get" action="">
                                                    <div class="form-group">
                                                        <input type="text"  name="keyword" value="{{ app.request.query.get('keyword') }}" class="form-control"
                                                               placeholder="Entrer un mot clé"  >
                                                    </div>
                                                    <button type="submit" class="btn btn-default pull-right">Valider</button>
                                                </form>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--/Category menu end-->
                                <!--Category-->
                                <div class="panel panel-flat">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" href="#collapseCategory" class="">
                                                <span class="pull-right hasMinus"> <i class="i-minus"></i></span> Gamme </a>
                                        </h4>
                                    </div>
                                    <div id="collapseCategory" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <ul class="nav nav-list">
                                                {% for categorie in categories %}
                                                <li>
                                                    <a href="{{ path("list_produit",{"sort":app.request.query.get('sort'),"categorie_id":categorie.id,"min_price":app.request.query.get('min_price'), "max_price":app.request.query.get('max_price')}) }}"> {{ categorie.nom }} </a>
                                                </li>

                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--/Category menu end-->


                                <!--unite-->
                                <div class="panel panel-flat">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" href="#collapseUnite" class="">
                                                <span class="pull-right hasMinus"> <i class="i-minus"></i></span> Unité </a>
                                        </h4>
                                    </div>
                                    <div id="collapseUnite" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <ul class="nav nav-list">
                                                {% for unite in unites %}
                                                    <li>
                                                        <a href="{{ path("list_produit",{"sort":app.request.query.get('sort'),"unite_id":unite.id,"min_price":app.request.query.get('min_price'), "max_price":app.request.query.get('max_price')})
                                                        }}"> {{ unite.libelle }} </a>
                                                    </li>

                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--/unite menu end-->



                                <!--Price-->
                                <div class="panel panel-flat">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a class="" data-toggle="collapse" href="#collapsePrice">
                                                ENTREZ UNE GAMME DE PRIX <span class="pull-right hasMinus"> <i class="i-minus"></i></span> </a>
                                        </h4>
                                    </div>
                                    <div id="collapsePrice" class="panel-collapse collapse in">
                                        <div class="panel-body priceFilterBody ">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <div id="slider-range" style="margin-bottom: 15px"></div>

                                                    <form class="form-inline " role="form" method="get" action="">
                                                        <div class="form-group">
                                                            <input type="text"  name="min_price" class="form-control" id="min_price"
                                                                     value="{{ app.request.query.get('min_price') }}">
                                                        </div>
                                                        <div class="form-group sp"> -</div>
                                                        <div class="form-group">
                                                            <input type="text"  name="max_price" class="form-control" id="max_price"
                                                                    value="{{ app.request.query.get('max_price') }}">
                                                        </div>
                                                        <button type="submit" class="btn btn-default pull-right">OK</button>
                                                    </form>

                                                </li>


                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <!--/price panel end-->
                            </div>
                        </div>
                        {# right column #}
                        <div class="col-lg-9 col-md-9 col-sm-12 categoryColumn">
                            <div class="row  categoryProduct xsResponse clearfix">
                                {% for produit in produits %}
                                    {{  include('@Frontend/Partial/produit.html.twig' , {'produit' : produit}) }}
                                {% endfor %}
                            </div>
                            <div class="navigation">
                                {{ knp_pagination_render(produits) }}
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.row  -->
            </div>
            <!-- /main container -->
        </section>
    </section>
{% endblock body %}
{% block javascripts %}
{{ parent() }}


    <script>
     $( "#slider-range" ).slider({
            range: true,
            min: 0,
            max: 5000,
            values: [ {{ app.request.query.get('min_price',0) }}, {{ app.request.query.get('max_price', 3000) }} ],
            slide: function( event, ui ) {
                $( "#min_price" ).val(ui.values[ 0 ]);
                $( "#max_price" ).val(ui.values[ 1]);
            }
        });
        $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
                " - $" + $( "#slider-range" ).slider( "values", 1 ) );


</script>
{% endblock javascripts %}