<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>E-shop</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords"
		content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />



	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>

	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

		<!-- jquery JS -->
	<script src="{{ asset('assets/frontBundle/js/jquery.min.js') }}"></script>

	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ asset('assets/frontBundle/css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ asset('assets/frontBundle/css/icomoon.css') }}">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="{{ asset('assets/frontBundle/css/simple-line-icons.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ asset('assets/frontBundle/css/bootstrap.css') }}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ asset('assets/frontBundle/css/style.css') }}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ asset('assets/frontBundle/css/checkbox.css') }}">

	<!-- Modernizr JS -->
	<script src="{{ asset('assets/frontBundle/js/modernizr-2.6.2.min.js') }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

</head>

<body>
	<style>
		input[type="checkbox"].styled:checked+label:after,
		input[type="radio"].styled:checked+label:after,
		.checkbox input[type=checkbox]:checked+label:after {
			font-family: 'Glyphicons Halflings';
			content: "\e013";
		}

		input[type="checkbox"].styled:checked label:after,
		input[type="radio"].styled:checked label:after,
		.checkbox label:after {
			padding-left: 4px;
			padding-top: 2px;
			font-size: 9px;
		}

		#fh5co-header {
			margin: 0px 0 0 0;
			position: fixed;
			z-index: inherit;
			background-color: white;
			padding-bottom: 30px;
		}
	</style>

	<div id="fh5co-page">
		<header id="fh5co-header" role="banner">
			<div class="container">
				<div class="header-inner">
					<h1><i class="sl-icon-energy"></i><a href="{{ path('homepage_frontend') }}">E-Shop</a></h1>

				</div>
			</div>
		</header>
		<div id="fh5co-contact-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
						<h2>Créer ma boutique</h2>
						<p>Customisez votre boutique</span></p>
					</div>
				</div>
				<div class="row">

					<div class="col-md-8 col-md-push-2 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input class="form-control" placeholder="Raison sociale" type="text">
								</div>
							</div>
							<div class="col-md-12">


								<div class="form-group">


									<p>Avez-vous un nom de domaine?
										<div class="row">

											<div class="col-md-6">
												{# begin checkbox #}
												
												<div class="form-group">


													<div class="checkbox checkbox-danger checkbox-circle">
														<input id="checkbox6" type="radio" class="styled" onclick="$('#domainInput').show();"  name="domainCheck">
														<label for="checkbox6">
															Oui
														</label>
													</div>
													<div class="checkbox checkbox-danger checkbox-circle">
														<input id="checkbox7" type="radio" class="styled" onclick="$('#domainInput').hide();" checked="" name="domainCheck">
														<label for="checkbox7">
															Non
														</label>
													</div>
												</div>
												{# end checkbox #}
											</div>
											<div class="col-md-6">
												<input class="form-control d-none" placeholder="Insérez votre nom de domaine"
													type="text" id="domainInput">
											</div>
										</div>

									</p>
								</div>
							</div>


							<div class="col-md-12">
								<div class="form-group">
									<p>Avez vous déjà un logo ?
										<input class="form-control" placeholder="Choisissez un logo" type="text">
									</p>
								</div>
							</div>

							<div class="col-md-12">
								<div class="form-group">
									<p>Choisisez votre code couleur ?
										<input class="form-control" placeholder="Nom domaine" type="text">
									</p>
								</div>
							</div>



							<div class="col-md-6">
								<div class="form-group">
									<input class="form-control" placeholder="Name" type="text">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input class="form-control" placeholder="prénom" type="text">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input class="form-control" placeholder="Email" type="text">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input class="form-control" placeholder="Tél" type="text">
								</div>
							</div>

							<div class="col-md-12">
								<div class="form-group">
									<textarea name="" class="form-control" id="" cols="30" rows="7"
										placeholder="Message"></textarea>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input value="Valider" class="btn btn-primary" type="submit">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>




		<footer id="fh5co-footer" role="contentinfo">

			<div class="container">



				<div class="col-md-12 fh5co-copyright text-center">
					<p>&copy; 2019 . All Rights Reserved. <span>Designed with by <a href="http://app4mob.mobi/"
								target="_blank">APP4MOB</a> </span></p>
				</div>

			</div>
		</footer>
	</div>


	<!-- jQuery -->
	<script src="{{ asset('assets/frontBundle/js/jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ asset('assets/frontBundle/js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ asset('assets/frontBundle/js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{ asset('assets/frontBundle/js/jquery.waypoints.min.js') }}"></script>
	<!-- MAIN JS -->
	<script src="{{ asset('assets/frontBundle/js/main.js') }}"></script>

</body>

</html>