{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}
<div class="page">
    <div class="page-content container-fluid">
   <div class="col-lg-6 mx-auto bg-white">
  <div class="text-center">
   <h1>Liste des secteurs d'activités</h1>
 
            <a href="{{ path('secteuractivity_new') }}" class="btn btn-success mb-4"><i class="icon md-plus-circle"></i> Ajouter Secteur d'activité</a>
  
   </div>

    <table class="jsgrid-table table table-striped table-hover">
        <thead>
            <tr class="text-center">
        
                <th class="jsgrid-header-cell jsgrid-header-sortable">Nom</th>
                <th class="jsgrid-header-cell jsgrid-header-sortable">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for secteurActivity in secteurActivities %}
            <tr class="jsgrid-insert-row">
                <td class="jsgrid-cell">{{ secteurActivity.nom }}</td>
                <td class="jsgrid-cell">
                
                     <div class="text-center">
                        
                        <a href="{{ path('secteuractivity_show', { 'id': secteurActivity.id }) }}" class="btn btn-link bordered border-primary"><i class="icon md-eye"></i></a>
                       
                       <a href="{{ path('secteuractivity_edit', { 'id': secteurActivity.id }) }}" class="btn btn-link bordered border-primary"><i class="icon md-edit"></i></a>
              
                     </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


    </div>
</div>

{% endblock %}



