{% extends "AdminBundle:Default:template.html.twig" %}
{% block page %}
<div class="page">
    <div class="page-content container-fluid">
 <div class="col-lg-4 mx-auto bg-white">
    <h1 class="text-center">Ajout Catégorie</h1>

{{ form_start(form) }}
<div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    	
<label for="nom">Nom:</label>
{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
<label for="nom">Secteur d'activité:</label>
{{ form_widget(form.secteurActivity, {'attr': {'class': 'form-control'}}) }}
    {{ form_widget(form) }}

   <div class="text-center m-3 p-3">
    <input type="submit" value="Ajouter" class="btn btn-success col-lg-5 mr-2"/>
    <a href="{{ path('categories_index') }}" class="btn btn-primary col-lg-5">Retour</a>
   </div>
{{ form_end(form) }}

       

 </div>
    </div>
</div>

{% endblock %}



