<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">

    <title>Login</title>

    <link rel="apple-touch-icon" href="{{ asset('bundles/frontend/loginadmin/images/apple-touch-icon.png') }}">
    <link rel="shortcut icon" href="{{ asset('bundles/frontend/loginadmin/images/favicon.ico') }}">

    <!-- Stylesheets -->
    {# <link rel="stylesheet" href="{{ asset('bundles/frontend/loginadmin/js/bootstrap.min.css') }}"> #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" integrity="sha256-q5+FXlQok94jx7fkiX65EGbJ27/qobH6c6gmhngztLE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Skin tools (demo site only) -->
    <!-- Plugins -->




    <!-- Fonts -->
    <link rel="stylesheet" href="{{ asset('bundles/frontend/loginadmin/css/web-icons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontend/loginadmin/css/brand-icons.min.css') }}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>


    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/easyadmin/javascript/html5shiv.min.js') }}"></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="../../global/vendor/media-match/media.match.min.js"></script>
    <script src="{{ asset('bundles/easyadmin/javascript/respond.min.js') }}"></script>
    <![endif]-->

    <!-- Scripts -->
    <style>
        body, html {
            width: 100%;
            height: 100%;
        }
    </style>

</head>

<body class="">
    <!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


    <!-- Page -->
    <div class="vh-100">
        <div class="container-fluid">

            {# page-login-main #}

            <div class="row h-50">
            
		
		
	

                <div class="authen col-lg-4 bg-white mx-auto pt-5">


                    {# <h3 class="font-size-24 text-center">Authentification</h3> #}
                    <h1 class="text-center mx-auto"><i class="icon-energy text-danger"></i>E-SHOP</h1>
                    <p></p>
                    {% if error %}
                    <div>Email ou mot de passe incorrect</div>
                    {% endif %}
                    <form method="post" action="{{ path("admin_login_check") }}" class="mx-auto">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <div class="form-group">
                            <label class="sr-only" for="inputEmail">Email</label>
                            <input type="email" id="username" name="_username" value="{{ last_username }}"
                                placeholder="Email" required="required" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="inputPassword">Password</label>
                            <input type="password" id="password" class="form-control" name="_password"
                                placeholder="Password" required="required" />

                        </div>
                        <div class="form-group clearfix">
                            <div class="checkbox-custom checkbox-inline checkbox-primary pull-left">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                <label
                                    for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                            </div>
                        </div>
                        <input type="submit" id="_submit" name="_submit" class="btn btn-danger btn-block"
                            value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                    </form>


                   



                </div>
            </div>
            <div class="row h-50">
                <div class="col-lg-4 mx-auto my-auto h-50">
                <img src="{{ asset('/bundles/frontend/loginadmin/images/bg_bk.svg') }}" alt="" width="100%" height="100%">
                </div>
            </div>

        </div>
    </div>
    <footer class="page-copyright text-center">
        <p>POWERED BY APP4MOB</p>
    </footer>
    <!-- End Page -->


    <!-- Core  -->
    <script src="{{ asset('bundles/frontend/loginadmin/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/frontend/loginadmin/js/bootstrap.min.js') }}"></script>









</body>

</html>