{% extends 'FrontendBundle:Layouts:layoutBreadcrumps.html.twig' %}


{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form  'FrontendBundle:Form:form_errors.html.twig' %}
    {% block content %}

        <div class="container main-container">

            <div class="row">
                <div class="breadcrumbDiv col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('homepage_frontend') }}">Accueil</a></li>
                        <li class="active"> Inscription</li>
                    </ul>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-12">
                    <h1 class="section-title-inner"><span><i class="fa fa-lock"></i> Inscription</span></h1>

                    <div class="row userInfo">
                        
                        <div class="col-xs-12 col-sm-6">
                            <h2 class="block-title-2"><span>Inscription</span></h2>

                            <form role="form" class="logForm " action="{{ path('fos_user_registration_register') }}" method="post">

                                {% if form.vars.errors is not empty %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form_errors(form) }}
                                </div>
                                {%  endif %}
                                <div class="form-group">
                                    <label>Nom <sup> * </sup></label>
                                    {{ form_widget(form.firstName,{"attr" : {"class":"form-control","placeholder":"Nom"} } ) }}
                                    {{ form_errors(form.firstName) }}
                                </div>
                                <div class="form-group">
                                    <label>Prénom <sup> * </sup></label>
                                    {{ form_widget(form.lastName,{"attr" : {"class":"form-control","placeholder":"Prénom"} } ) }}
                                    {{ form_errors(form.lastName) }}
                                </div>
                                <div class="form-group">
                                    <label>Matricule Fiscale</label>
                                    {{ form_widget(form.matriculeFiscale,{"attr" : {"class":"form-control","placeholder":"Matricule fiscale"} } ) }}
                                    {{ form_errors(form.matriculeFiscale) }}
                                </div>
                                <div class="form-group">
                                    <label>Email <sup> * </sup></label>
                                    {{ form_widget(form.email,{"attr" : {"class":"form-control","placeholder":"Email"} } ) }}
                                    {{ form_errors(form.email) }}
                                </div>
                                <div class="form-group">
                                    <label>Mot de passe <sup> * </sup></label>
                                    {{ form_widget(form.plainPassword.first,{"attr" : {"class":"form-control","placeholder":"Mot de passe"} } ) }}
                                    {{ form_errors(form.plainPassword.first) }}
                                </div>
                                <div class="form-group">
                                    <label>Vérification <sup> * </sup></label>
                                    {{ form_widget(form.plainPassword.second,{"attr" : {"class":"form-control","placeholder":"Vérification"} } ) }}
                                    {{ form_errors(form.plainPassword.second) }}
                                </div>

                                <button class="btn btn-primary"  type="submit"><i class="fa fa-user"></i> Valider</button>
                                {{ form_rest(form) }}

                            </form>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <h2 class="block-title-2"> Déja inscrit ? </h2>

                            <button class="btn btn-primary" href="{{ path('fos_user_security_login') }}" type="submit"><i class="fa fa-sign-in"></i> Se connecter</button>

                        </div>
                        
                        
                    </div>
                    <!--/row end-->

                </div>

                <div class="col-lg-3 col-md-3 col-sm-5"></div>
            </div>
            <!--/row-->

            <div style="clear:both"></div>
        </div>
        <!-- /wrapper -->
    {% endblock content %}
