<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading" style="background-color: #F5F5F5;">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-check fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-text"><h2>{{ cv[0][1] }}</h2></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="announcement-heading"><b>Commandes validées</b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading"  style="background-color: #F5F5F5;">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-text"><h2>{{ cev[0][1] }}</h2></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="announcement-heading"><b>Commandes en cours de validtion</b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col-md-6 col-sm-3">
        <div class="panel panel-info">
            <div class="panel-heading"  style="background-color: #F5F5F5;">
                <div class="row">
                    <div class="col-xs-6">
                        <i class="fa fa-user-circle-o fa-5x"></i>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="announcement-text"><h2>12</h2></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-left"><b> Clients</b></div>
                </div>
            </div>
        </div>
    </div>-->
</div>
